<%- include("header")  -%> 

<div class="container">
    <div class="row">


<!-- TABLA DE ACTIVIDADES -->

        <div class="col-md-8">
            <h1>Tareas de <%= user %> </h1>
            <table class="table table-bordered table-hover">
            
            <thead>
                <tr>
                    <th>ID Tarea</th>
                    <th>Proceso</th>
                    <th>Descripcion del Problema</th>
                    <th>Responsable</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0;i<tareas.length;i++ ){  if(tareas[i].user===user){%> 
                    <tr>
                        <td><%= i+1 %> </td>
                        <td><%= tareas[i].Titulo %> </td>
                        <td><%=tareas[i].descripcion  %> </td>
                        <td><%=tareas[i].user  %> </td>
                        <td >
                         <a href="/cambiarEstado/<%=tareas[i]._id %>&<%=user %> " class="btn <%= tareas[i].estado ? 'btn-success' : 'btn-light'%>  "><%= tareas[i].estado ? 'Realizado' : 'Iniciado'%></a>
                         <!-- <a href="/eliminar/<%=tareas[i]._id %>" class="btn btn-dark">Eliminar</a>
                         <a href="/editar/<%=tareas[i]._id %>" class="btn btn-link">Editar</a> -->
                        </td>
                    </tr>
                
            <% }} %> 
               
            </tbody>
        </table>
        </div>

    </div>
</div>

<br/>

<%- include("footer")  -%> 